.carrusel{
    width: 100%;
}


.carousel-indicators {
    border: 50px;

}

.carousel-control-prev{
    background-color: rgba(0, 0, 0, 0.274);
}
.carousel-control-next{
    background-color: rgba(0, 0, 0, 0.274);
}
