


.Divisor{
    display: flexbox;
    margin: 5px;
    flex-wrap: nowrap;
}

.Divisor h2{
    padding: 1rem;
    color: red;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;

}

.Divisor a{
    color: aqua;
    background-color:green;
    border: 2px solid blue;
    color: aqua;
    padding: 8px;
    font-size: 15px;
    text-decoration: none;

}

.Divisor a:hover{
    color: blue;
}
.Divisor i{
    font-size:  20px;
    padding: 10px;
    color: blue;
    background-color: white;
    border-radius: 5px;
}

.para{
    height: 200px;
    background-color: lightblue;
    border: 2px solid black
}
@for $incremento from 1 through 4 {
    .todos-#{$incremento} {
        width:4em * $incremento;
        background-color: lightblue;
      font-size:20px * $incremento;
      border-width: 5px * $incremento;
      box-shadow:0 0 5px * $incremento aqua inset;  
    }
    }
    

    $large:50px;

    .extend{
        border:3px solid red;
        background-color: purple;
        height: 300px;
        width: 600px;
        padding: 20px;
    }

    .extend--nuevo{
        @extend .extend;
        border-width: 3px;
        color: whitesmoke;
        font-size: $large;
        span{
            @extend .extend
        }

    };

    @mixin sizes ($width, $height, $bcolor){
        height: $height;
        width: $width;
        background-color: $bcolor;
    }
    
    .box{
        @include sizes (100%, 400px, lightblue);
        font-size:$large;
        color: yellow;
    }

    .box2{
        @include sizes (100%, 300px, white);
        color: yellow;
        text-align: right;
        font-size:$large;

    }