



footer{
    margin-top:561px;
    background-color: rgba(83, 83, 83, 0.918);
    text-align: center;
    position:relative;
    width: 100%;

}



footer i{
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
